<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subida de Archivos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <h2>Subir Archivo</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="archivo">Seleccione un archivo:</label>
        <input type="file" id="archivo" name="archivo"><br><br>

        <input type="submit" value="Subir">
    </form>
</body>
</html>